services:
  nats-servers:
    image: nats:latest
    restart: always
    networks:
      - laucher-app

  client-gateway:
    image: noinblake/client-gateway:v1
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - NATS_SERVERS=nats://nats-servers:4222
    depends_on:
      - nats-servers
    restart: unless-stopped
    networks:
      - laucher-app

  auth-db:
    image: postgres:15-alpine
    # ports:
    #   - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_AUTH_ENV}
      - POSTGRES_DB=${POSTGRES_DB_AUTH_ENV}
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    restart: always
    networks:
      - laucher-app

  boxdaily-db:
    image: postgres:15-alpine
    # ports:
    #   - "5442:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_BOXDAILY_ENV}
      - POSTGRES_DB=${POSTGRES_DB_BOXDAILY_ENV}
    volumes:
      - boxdaily-db-data:/var/lib/postgresql/data
    restart: always
    networks:
      - laucher-app-dev

  boxdaily-ms:
    image: noinblake/boxdaily-ms:v1
    environment:
      - PORT=3007
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD_BOXDAILY_ENV}@boxdaily-db:5432/${POSTGRES_DB_BOXDAILY_ENV}?schema=public&sslmode=disable
      - NATS_SERVERS=nats://nats-servers:4222
    depends_on:
      - boxdaily-db
    restart: always
    networks:
      - laucher-app

  auth-ms:
    image: noinblake/auth-ms:v1
    environment:
      - PORT=3004
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD_AUTH_ENV}@auth-db:5432/${POSTGRES_DB_AUTH_ENV}?schema=public&sslmode=disable
      - NATS_SERVERS=nats://nats-servers:4222
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - auth-db
    restart: always
    networks:
      - laucher-app

  product-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_PRODUCTS_ENV}
      - POSTGRES_DB=${POSTGRES_DB_PRODUCTS_ENV}
    ports:
      - "5434:5432"
    volumes:
      - product-db-data:/var/lib/postgresql/data
    restart: always
    networks:
      - laucher-app

  products-ms:
    image: noinblake/products-ms:v1
    environment:
      - PORT=3001
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD_PRODUCTS_ENV}@product-db:5432/${POSTGRES_DB_PRODUCTS_ENV}?schema=public&sslmode=disable
      - NATS_SERVERS=nats://nats-servers:4222
    depends_on:
      - product-db
    restart: unless-stopped
    networks:
      - laucher-app

  contacts-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_CONTACTS_ENV}
      - POSTGRES_DB=${POSTGRES_DB_CONTACTS_ENV}
    # ports:
    #   - "5435:5432"
    volumes:
      - contacts-db-data:/var/lib/postgresql/data
    restart: always
    networks:
      - laucher-app

  contacts-ms:
    image: noinblake/contacts-ms:v1
    environment:
      - PORT=3005
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD_CONTACTS_ENV}@contacts-db:5432/${POSTGRES_DB_CONTACTS_ENV}?schema=public&sslmode=disable
      - NATS_SERVERS=nats://nats-servers:4222
    depends_on:
      - contacts-db
    restart: unless-stopped
    networks:
      - laucher-app

  branches-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_BRANCHES_ENV}
      - POSTGRES_DB=${POSTGRES_DB_BRANCHES_ENV}
    ports:
      - "5436:5432"
    volumes:
      - branches-db-data:/var/lib/postgresql/data
    restart: always
    networks:
      - laucher-app

  branches-ms:
    image: noinblake/branches-ms:v1
    environment:
      - PORT=3003
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD_BRANCHES_ENV}@branches-db:5432/${POSTGRES_DB_BRANCHES_ENV}?schema=public&sslmode=disable
      - NATS_SERVERS=nats://nats-servers:4222
    depends_on:
      - branches-db
    restart: unless-stopped
    networks:
      - laucher-app

  voucher-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_VOUCHER_ENV}
      - POSTGRES_DB=${POSTGRES_DB_VOUCHER_ENV}
    ports:
      - "5437:5432"
    volumes:
      - voucher-db-data:/var/lib/postgresql/data
    restart: always
    networks:
      - laucher-app

  voucher-ms:
    image: noinblake/voucher-ms:v1
    environment:
      - PORT=3002
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD_VOUCHER_ENV}@voucher-db:5432/${POSTGRES_DB_VOUCHER_ENV}?schema=public&sslmode=disable
      - NATS_SERVERS=nats://nats-servers:4222
    depends_on:
      - voucher-db
    restart: unless-stopped
    networks:
      - laucher-app

  frontend:
    image: noinblake/frontend:v1
    ports:
      - "5173:5173"
    depends_on:
      - client-gateway
    restart: unless-stopped
    networks:
      - laucher-app

  app-mobile:
    image: noinblake/app-mobile:v1
    ports:
      - "5174:5174"
    depends_on:
      - client-gateway
    restart: unless-stopped
    networks:
      - laucher-app

networks:
  laucher-app:
    driver: bridge

volumes:
  auth-db-data:
  boxdaily-db-data:
  product-db-data:
  contacts-db-data:
  branches-db-data:
  voucher-db-data:
